.dashboard {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: start;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  color: #a8354a;
  margin-bottom: 1.5rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  color: #444;
  line-height: 1.7;
  margin-bottom: 1.2rem;
}
